body {
  padding: 0px;
  margin: 0px;
  overflow: hidden;
}

a {
  color: inherit;
}

/* Container for the entire page */
.pageContainer {
  display: flex;
  min-height: 100vh;
  height: 100vh;
  flex-direction: column;
  align-items: center;
  word-break: break-word;
  gap: 10px;

  background-color: #212529;
  color: white;

  overflow-y: auto;
}

/* Use to set a page section */
/* Is not flex-direction column */
.sectionContainer {
  width: 100%;
  height: fit-content;
  display: flex;
  justify-content: center;

  padding-left: 10px;
  padding-right: 10px;
}

/* Div container in banner section */
.bannerContent {
  display: flex;
  justify-content: space-between;

  margin-top: 16px;
  padding-left: 30px;
  padding-right: 30px;
  width: 100%;
  max-width: 1600px;
}

/* Div container in about section */
.aboutContent {
  display: flex;
  flex-direction: column;
  text-align: center;

  min-height: calc(100vh - 15px);
  width: 100%;
  max-width: 1600px;
}

/* Div container in body section */
.bodyContent {
  display: flex;
  flex-direction: column;
  width: 100%;
  max-width: 1600px;
  
  
  gap: 50px;
  min-height: 100px;
}

/* Div container in footer section */
.footerContent {
  display: flex;
  
  width: 100%;
  max-width: 1600px;
  background-color: inherit;

  justify-content: space-evenly;
  align-items: center;
  flex-wrap: wrap;
  padding: 20px;
}

.footerContent>a {
  color: white;
}

/*
This css handles the container size
for the image. The front and back of the card
have width/height to 100% to fill to the parent
container, which is this.
The image is the same, so it stretches to
this parent container.
*/
.card {
  display: flex;
  justify-content: center;
  align-items: center;
  border: none;
  background-color: inherit;
  height: 100%;
  width: 100%;
  max-height: 400px;
  color: white;

  transform-style: preserve-3d;
  transition: 500ms;
  transform: perspective(1000px) rotateY(var(--rotate-y, 0)) translateY(var(--translate-y, 0));
}

.front:hover {
  --translate-y: -2px;
  box-shadow: 0 0 5px 2px rgba(0, 0, 0, .5);
}

.card.flip {
  --rotate-y: 180deg;
}

.card .front,
.card .back,
.card .enlargeImage {
  backface-visibility: hidden;
}

.card .back {
  transform: rotateY(180deg);

  /* background-color: #00a1e0; */
  position: absolute;
  height: 100%;
  width: 100%;
  overflow-y: auto;
  cursor: pointer;
  text-align: center;

  border-radius: 1rem;
  }
  
  .back:hover {
  --translate-y: -2px;
  box-shadow: 0 0 5px 2px rgba(0, 0, 0, .5);
}

.card .front {
  background-color: inherit;
  cursor: pointer;
  border-radius: 1rem;
  height: 100%;
  width: 100%;
}


/* Fade in effect */
@keyframes fadeIn{
  from {
      opacity: 0;
  }

  to {
      opacity: 1;
  }
}

.fadeText {
  animation: fadeIn 1s ease-in forwards;
}

.fadeTextHidden {
  opacity: 0;
}

.profileImg {
  border-radius: 50%;

  width: 15vmax;
  height: 15vmax;
  max-width: 300px;
  max-height: 300px;
  align-self: center;

  margin: 3vh;

  object-fit: cover;
}

.iconLinksContainer {
  display: flex;
  padding: 10px;
}

.footerDescription {
  width: 66%;
  margin: 0;
  text-align: center;
}

.customModalClass {
  min-width: 90%;
  width: 90%;
  height: auto;
}

.modalImage {
  object-fit: contain;
  width: 100%;
}

.modal-content {
  background-color: transparent;
}

.enlargeImage {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 5px;
  position: absolute;
  top: 0;
  right: 0;

  margin: 5px;

  width: 100%;
  max-width: 40px;

  height: 100%;
  max-height: 40px;

  opacity: .7;
}

.enlargeImage:hover {
  opacity: 1;
}


/* This is the container that is inside of body */
.contentContainer {
  width: 100%;
  height: auto;
  display: flex;
  min-height: 400px;
  gap: 1%;

  padding-bottom: 50px;
}

.contentContainer:not(:last-child) {
  border-bottom: solid peru;
}

.contentImageContainer {
  width: 40%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.contentImage {
  width: 100%;
  object-fit: cover;
  border-radius: 1rem;

  
  height: 100%;
}

.contentInfoContainer {
  width: 60%;
  border-radius: 1rem;
  padding: 5px;

  display: flex;
  flex-direction: column;
  text-align: center;
}

.contentDescription {
  width: 80%;
  align-self: center;
}

@media (max-width: 1000px) {
  .contentContainer {
      flex-wrap: wrap;
      row-gap: 10px;
  }

  .contentImageContainer, .contentInfoContainer {
      width: 100%;
  }
}