.pageBody{
    background-color: orange;
    display: flex;
    flex-direction: column;
}

.row1{
    display: flex;
    flex-direction: row;
    justify-content: center;
    flex-wrap: wrap;
}

.navBar{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    background-color: lightblue;
    justify-content: flex-start;
    gap: 10px;
    align-items: center;
    min-height: 75px;
    font-size: 25px;
}






#title1{
    width: auto;
    margin-top: 100px;
    margin-bottom: 100px;
}