body {
    padding: 0px;
    margin: 0px;
    overflow: hidden;
}

a {
    color: inherit;
}

/* Container for the entire page */
.pageContainer {
    display: flex;
    min-height: 100vh;
    height: 100vh;
    flex-direction: column;
    align-items: center;
    word-break: break-word;
    gap: 10px;

    background-color: #212529;
    color: white;

    overflow-y: auto;
}

/* Use to set a page section */
/* Is not flex-direction column */
.sectionContainer {
    width: 100%;
    height: fit-content;
    display: flex;
    justify-content: center;
}

/* Div container in banner section */
.bannerContent {
    display: flex;
    justify-content: space-between;

    margin-top: 16px;
    padding-left: 10px;
    padding-right: 10px;
    width: 100%;
    max-width: 1080px;
}

/* Div container in about section */
.aboutContent {
    /* display: flex;
    flex-direction: column;
    justify-content: center; */
    text-align: center;

    height: auto;
    width: 100%;
    max-width: 1080px;
}

/* Div container in body section */
.bodyContent {
    display: flex;
    flex-direction: column;
    gap: 10px;
    min-height: 100px;
    width: 100%;
    max-width: 1080px;
    /* background-color: peru; */
}

/* Div container in footer section */
.footerContent {
    display: flex;
    
    height: 100px;
    width: 100%;
    max-width: 1080px;
    background-color: peru;
}

.footerContent>a {
    color: white;
}

.postContent {
    background-color: teal;
    text-align: center;
    border: 3px lightblue solid;
    width: 100%;
    display: flex;
    flex-direction: column;
}

.postDescription {
    width: 80%;
    height: 72px;
    align-self: center;
    overflow-y: auto;
}

/* Width at 100% to fill to parent container.
Set max-height limit image size expanding container. */
.postImage {
    width: 100%;
    max-height: 300px;
    object-fit: contain;
}

.carousel-control-prev {
    width: 10%;
}

.carousel-control-next {
    width: 10%;
}



/* insanity */
.card {
    align-self: center;
    width: 80%;
    margin-bottom: 50px;
    background-color: darkgreen;
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;

    border-radius: .25rem;
    
    transform-style: preserve-3d;
    transition: 500ms;
    cursor: pointer;
    transform: perspective(1000px) rotateY(var(--rotate-y, 0)) translateY(var(--translate-y, 0));
  }
  
  .card:hover {
    --translate-y: -2px;
    box-shadow: 0 0 5px 2px rgba(0, 0, 0, .5);
  }
  
  .card.flip {
    --rotate-y: 180deg;
  }
  
  .card .front,
  .card .back {
    /* position: absolute; */
    /* padding: 1rem; */
    backface-visibility: hidden;
  }
  
  .card .back {
    transform: rotateY(180deg);

    background-color: peru;
    position: absolute;
    height: 100%;
    width: 80%;
    overflow-y: auto;
  }

  .card .front {
    background-color: peru;
  }